.header_gap {
    padding-top: 50px;
}

.content {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.column {
    margin-right: 1.5rem;
    max-width: 320px;
}

.column:nth-child(1) {
    margin-left: 1.5rem;
}

.block {
    flex: 0 0 18%;
    padding: 1rem 1rem 1.8rem;
    margin-bottom: 1.4rem;
    background-color: #24263C;
    border: 1px solid #363954;
    border-radius: 10px;
}

.column:nth-child(1) .block:nth-child(2) {
    padding-bottom: 2rem;
}

.author {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

.icon {
    order: -1;
    width: 48px;
    height: 48px;
    pointer-events: none;
    user-select: none;
    background-color: #6B88C1;
    background: linear-gradient(90deg, #6B88C1, #5284A7);
}

.icon img {
    width: 88%;
    height: 88%;
    margin: 6%;
    object-fit: contain;
}

.icon, 
.icon img {
    border-radius: 50%;
}

.name {
    font-size: 1.05rem;
    font-weight: 500;
    margin: 0 0 0 0.6em;
}

.desc {
    color: #75799A;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.6em;
}