.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrongbrowser_btn {
    display: block;
    padding: 5px 10px;
    font-family: 'Inria Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #59596B;
    background: none;
    border: none;
    cursor: pointer;
}

.wrongbrowser_btn:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.btn_download {
    display: flex;
    width: fit-content;
    align-items: center;

    padding: 0.5rem 1.6rem 0.5rem 0.8rem;
    background-color: #2A2B3F;
    border: 1px solid #4A4C66;
    border-radius: 16px;
    transition: opacity 300ms ease;
    animation: fadeIn 1s ease-out forwards;
    animation-iteration-count: 1;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

.is_edge .btn_download {
    padding-right: 1rem;
}


.btn_download:hover {
    opacity: 0.9 !important;
}

.section_1 {
    width: 42px;
    height: 42px;
}

.section_1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

.section_2 {
    display: flex;
    flex-direction: column;
    padding-left: 0.6rem;
}

.section_2 span {
    user-select: none;
    pointer-events: none;
}

.section_2 span:nth-child(1) {
    font-size: 0.84rem;
    line-height: 0.84rem;
    font-weight: 400;
    margin-bottom: 0.04em;
}

.section_2 span:nth-child(2) {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}

.is_edge .section_2 span:nth-child(2) {
    font-size: 1.2rem;
    line-height: 1.2rem;
}


/* MODAL */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    width: 100vw;
    height: 100vh;
    transition: 0.1s ease;

    display: flex;
    /* align-items: center; */
    justify-content: center;

    background-color: rgba(10, 17, 28, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    /* on hidden state */
    opacity: 0;
    pointer-events: none;
    user-select: none;
    z-index: 100;
}

.modal_visible {
    /* on visible state */
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}

.modal_block {
    width: 600px;
    max-width: 100%;
    height: fit-content;
    margin-top: 15vh;
    padding: 1.5rem;
    background-color: #2a2e41;
    border-radius: 2.4rem;
    overflow: hidden;
}

.modal_title {
    font-size: 1.8rem;
    margin:  0.5rem 0 1.5rem;
    text-align: center;
}

.modal_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 48px;
    background-color: #30354b;
    padding: 0 1.2rem;
    border-radius: 20px;
    margin-bottom: 4px;
    cursor: pointer;
}

.modal_item__selected:hover,
.modal_item__selected {
    background-color: #3d4460;
}


.modal_item .checkbox {
    color: #7a819f;
}

.modal_item__selected .checkbox {
    color: #8aabff;
}

.modal_item_content {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 30px;
    height: 30px;
    font-size: 1.74rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1px;
    cursor: pointer;
}

.checkbox:hover {
    opacity: 0.7;
}

.modal_item_title,
.modal_item_platform {
    font-size: 0.94rem;
    font-weight: 600;
    margin-left: 0.4em;
    user-select: none;
    pointer-events: none;
}

.modal_item_platform {
    color: #9AA6D9;
}

.modal_item_logo {
    height: 36px;
    width: 36px;
    overflow: hidden;
    margin-right: 0.25rem;
    user-select: none;
    pointer-events: none;
}

.modal_item_logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.modal_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.modal_buttons button {
    display: flex;
    align-items: center;
    min-height: 42px;
    font-size: 0.98rem;
    font-weight: 600;
    padding: 0.8em 1.8em;
    border-radius: 30px;
    background-color: #33394f;
    margin-bottom: 0.1em;
    margin-left: 0.6rem;
    border: none;
    color: #fff;
    cursor: pointer;
}

.modal_buttons button span {
    user-select: none;
}

.modal_buttons button:hover {
    opacity: 0.8;
}

button.modal_btn_download {
    background-color: #3e425f;
}

.modal_buttons button img {
    height: 1.2em;
    margin-right: 0.5em;
    user-select: none;
}

.install_btn * {
    pointer-events: none;
    user-select: none;
}

.install_btn {
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.02rem;
    font-weight: 400;
    padding: 0.6em 0.8em;
    border-radius: 30px;
    color: #fff;
    background-color: rgba(71, 74, 106, 0.6);
    margin-bottom: 0.1em;
    border: none;
    cursor: pointer;
}

.install_btn img {
    height: 1em;
    margin-right: 0.5rem;
}