@media only screen and (max-width: 900px) {
    .embla {
        --slide-height: 300px;
    }
}

@media only screen and (max-width: 530px) {
    .embla {
        --slide-height: 60vw;
    }

    .embla__buttons {
        display: none;
    }

    .embla__controls {
        grid-template-columns: 1fr auto;
    }
}

@media only screen and (max-width: 420px) {
    .embla {
        margin: auto -5px;
    }
}