@keyframes appear-from-bottom {
    0% {
        opacity: 0;
        transform: scale(0.98) translateY(20px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes appear-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.title {
    animation: appear-fade 200ms ease 1 both;
}

.content_group2 {
    animation: appear-from-bottom 1200ms ease 1 both;
}

.content {
    padding-top: 100px;
    min-height: 500px;
    display: flex;
    
}

.content_group1 {
    flex: 0 0 45%;
    padding-right: 1rem;
}

.content_group2 {
    flex: 1;
}

.title {
    font-size: 2.8rem;
    line-height: 100%;
    margin-left: 0.3em;
}

.desc {
    font-size: 1.18rem;
    line-height: 1.8em;
    color: #F3FBFF;
}

.wr {
    display: inline-block;
    margin-right: 0.21em;
}

@keyframes wr-anim {
    0% {
        opacity: 0;
        transform: translate(0px, 5px);
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

$title-span-count: 400;
$delay-step: 0.02s; 

.wr {
  opacity: 0;
  animation: wr-anim 1s ease-out forwards;
}


@for $i from 1 through $title-span-count {
  .wr:nth-child(#{$i}) {
    animation-delay: $i * $delay-step + 0.1;
  }
}



.title_group {
    display: flex;
    align-items: center;
    padding: 1rem 20px 1rem 0;
}

.version {
    --color: rgba(255, 255, 255, 0.4);
    display: block;
    line-height: 100%;
    font-size: 1.28rem;
    padding-top: 0.1em;
    color: var(--color);
}

.version:hover {
    text-decoration: underline;
}

.version::before {
    content: "";
    display: inline-block;
    width: 0.28em;
    height: 0.28em;
    margin: 0 0.5em 0.1em 0.8em;
    background-color: var(--color);
    border-radius: 1em;
}

.title_logo {
    width: 70px;
    height: 70px;
}

.title_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn_sect {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #928EB4;
    font-family: 'Inria Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 4rem;
}

@keyframes stats-anim {
    0% {
        opacity: 0;
        filter: blur(10px);
        transform: translate(0px, 5px);
    }
    100% {
        transform: translate(0px, 0px);
        filter: blur(0);
        opacity: 1;
    }
}

$title-span-count: 4;
$delay-step: 0.4s; 

.stats>div {
  opacity: 0;
  animation: stats-anim 0.4s ease-out forwards;
}


@for $i from 1 through $title-span-count {
  .stats>div:nth-child(#{$i}) {
    animation-delay: $i * $delay-step + 0.1;
  }
}

.stats_mobile {
    display: none;
}

.stats_mobile span > span {
    display: none;
}

.stats_item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 0 20px;
    padding: 0 min(3vw, 20px);
}

.stats_item svg {
    height: 1em;
    margin-right: 0.2em;
}

/* ~~~~~~ TABLET & MOBILE VIEWPORTS ~~~~~ */

@media only screen and (max-width: 1170px) {
    .title {
        font-size: 2.5rem;
    }

    .desc {
        font-size: 1.08rem;
    }
}


@media only screen and (max-width: 955px) {
    .title {
        font-size: 2.3rem;
    }

    .desc {
        font-size: 1.04rem;
    }

    .title_logo {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 900px) {
    .content {
        flex-direction: column;
        padding: 1rem 0;
        align-items: center;
        max-width: 500px;
    }

    .content_group1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 0 1rem;
    }

    .content_group2 {
        max-width: 90%;
    }
}

@media only screen and (max-width: 530px) {
    .content_group1 {
        padding-left: var(--content-gap);
        padding-right: var(--content-gap);
    }

    .stats_mobile {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

    .stats_desktop {
        display: none;
    }

    .desc {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 420px) {
    .content {
        padding: 0 0 0.5rem;
    }

    .btn_sect {
        margin-top: 1rem;
    }

    .stats_item {
        font-size: 1.1rem;
    }
    .stats_mobile {
        padding-left: 0.2rem;
    }

    .version { 
        font-size: 1.1rem;
    }

    .title {
        font-size: 2.1rem;
    }

    .desc {
        font-size: 1.16rem;
    }
}

@media only screen and (max-width: 375px) {
.title_group {
    padding: 0.7em 0 0.8em;
}

.title {
    font-size: 1.88rem;
}
.desc {
    font-size: 1.12rem;
}
}