.gap_fix {
    padding-top: var(--mv-header, 65px);
    padding-top: calc(var(--mv-header, 65px) + var(--content-gap, 10px));
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding-top: 22px;
    z-index: 100;
}

.header_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1240px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--mv-header, 65px);
    max-width: fit-content;
    padding: 0 1.2rem;
   
    background-color: var(--header-background, rgba(40, 47, 72, 0.3));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    /* active state
    background-color: #282f48d9;
    box-shadow: 0 2px 12px 3px #1c202e; */

    border: 1px solid var(--header-border-color, #404b68);
    border-radius: 50px;
    z-index: 100001;
}

.nav a {
    padding: 0.5rem 1.2rem;
    font-size: 1.01rem;
    font-weight: 500;
}

.active {
    color: var(--active-text-color, blue);
}





/* ~~~~~~ TABLET & MOBILE VIEWPORTS ~~~~~ */

.mobile_menu__btn {
    display: none;
}

@media only screen and (max-width: 890px) {
    .header_content {
        justify-content: flex-start;
        margin-left: -10px;
    }
}

/* tablet menu start */
@media only screen and (max-width: 740px) {
    :global(.lang_select) {
        right: unset;
        top: calc(var(--mv-header, 50px) / 2 - 18px);
        left: var(--content-gap);
    }

    .mobile_menu__btn {
        position: fixed;
        height: 50px;
        width: 50px;
        top: calc(var(--mv-header) / 2 - 24px);
        right: var(--content-gap);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        overflow: hidden;
    }

    .mobile_menu__btn svg {
        height: 50%;
        width: auto;
    }

    .header {
        padding: 0;
    }

    .header_content {
        display: block;
        margin: 0;
        padding: 0;
    }

    .nav {
        height: var(--mv-header);
        overflow: hidden;
        padding: calc(var(--mv-header, 50px) + 1px) 0 0;

        flex: 1;
        width: 100vw;
        min-width: 100vw;
        overflow: scroll;
        flex-direction: column;
        border-radius: 0;
        border: none;

        background: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        transition: 300ms ease, border 0s, backdrop-filter 0s;
    }

    .mobile_nav_open,
    .header_scrolled .nav {
        background-color: var(--header-background, rgba(40, 47, 72, 0.3));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        background-color: none;
        border-bottom: 1px solid var(--header-border-color);
    }

    .mobile_nav_open {
        padding: calc(var(--mv-header, 50px) + 0.5rem) 0 1rem;
        background-color:  rgba(40, 47, 72, 0.6)!important;
    }

    .nav * {
        opacity: 0;
        pointer-events: none;
    }

    .mobile_nav_open {
        height: fit-content;
        display: flex;
    }

    .mobile_nav_open.nav * {
        opacity: 1;
        pointer-events: fill;
    }

    .nav a {
        padding: 1rem;
    }
}

