.gap_fix {
    padding-top: var(--mv-header, 65px);
    padding-top: calc(var(--mv-header, 65px) + var(--content-gap, 10px));
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding-top: 22px;
}

.header_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1240px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--mv-header, 65px);
    max-width: fit-content;
    padding: 0 1.2rem;
   
    background-color: var(--header-background, rgba(40, 47, 72, 0.3));
    backdrop-filter: blur(10px);
    
/* active state
    background-color: #282f48d9;
    box-shadow: 0 2px 12px 3px #1c202e; */

    border: 1px solid var(--header-border-color, #404b68);
    border-radius: 50px;
    z-index: 100001;
}

.nav a {
    padding: 0.5rem 1.2rem;
    font-size: 1.01rem;
    font-weight: 500;
}

.active {
    color: var(--active-text-color, blue);
}