.split {
    -webkit-transform: translate3d(0, 0, 0);
    font-size: 24px;
    line-height: 36px;
    color: #dedede;
    margin: 50px auto;
    width: 800px;
    visibility: hidden;
  }
  
  .split div {
    border-radius: 4px;
    background: white;
    padding: 0 8px;
    margin: 4px 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    color: black;
    font-weight: semibold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  

.wrapper {
    background-color: #1A1C2D;
    background: radial-gradient(at top, #364568 0%, #1b1f33 50%, #181925 70% 100%);
}

.wrapper_texture {
    background: url("/texture-1.png");
    background-position: 50% 0%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    min-height: 640px;
    height: 100vh;
    max-height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    min-height: 400px;
    padding-top: calc(var(--mv-header, 60px) + 1px);
    padding-bottom: calc(var(--mv-header, 60px) - 40px);
}

@keyframes title-anim {
    0% {
        opacity: 0;
        transform: translate(0px, 50px) scale(0.9);
    }
    50% {
        transform: translate(0px, 0px) scale(1);
    }
    100% {
        opacity: 1;
    }
}

@keyframes title-anim-next {
    0% {
        opacity: 0;
        filter: blur(10px);
        transform: translate(0px, 5px);
    }
    100% {
        transform: translate(0px, 0px);
        filter: blur(0);
        opacity: 1;
    }
}

$title-span-count: 20;
$delay-step: 0.2s; 

.title span {
  opacity: 0;
  animation: title-anim 1s ease-out forwards;
}


@for $i from 1 through $title-span-count {
  .title span:nth-child(#{$i}) {
    animation-delay: $i * $delay-step + 0.1;
  }
}


.title span:nth-last-child(2),
.title span:nth-last-child(1) {
    animation: title-anim-next 1s ease-out forwards;
    animation-delay: 8 * $delay-step + 0.1!important;
}

.title {
    font-size: 2.6rem;
    text-align: center;
    margin: 0 0 0.5em;
}


@keyframes appear-from-bottom {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(50px);
    }
    50% {
        transform:  scale(1) translateY(0px);
    }
    100% {
        opacity: 1;
    }
}


$hero-items-count-end: 3;
$delay-items-step: 3s;

@for $i from 1 through $hero-items-count-end {
    .content>*:nth-last-child(#{$i}) {
        animation: appear-from-bottom 1.5s ease 1 both;
      animation-delay: $delay-items-step - $i * 0.5;
    }
  }





.desc {
    font-size: 1.2rem;
    line-height: 1.6em;
    color: var(--text-color-sec, #A4A8C9);
    text-align: center;
}

.img_preview {
    display: block;
    user-select: none;
    pointer-events: none;
}

.img_preview img {
    display: block;
    height: 140px;
    margin: 0 auto;
}

.btn_sect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_1 {
    display: block;
    height: 46px;
    line-height: 45px;
    padding: 0 1.5rem;
    margin-top: 1rem;
    user-select: none;

    font-size: 1.08rem;
    font-weight: 500;
    border-radius: 40px;
    background-color: #43517F;
    background: linear-gradient(45deg, #43517F, #303A5C);
    background: linear-gradient(96deg, #43517f, #283258);
    border: 1px solid #42507D;
}

.shortcuts_act_image {
    min-width: 60px;
    min-height: 60px;

    max-width: 60px;
    max-height: 60px;
    overflow: hidden;
    object-fit: contain;
    -webkit-user-drag: none;
}

.shortcuts_act_image__IGPLUS {
    max-width: 65px;
    max-height: 65px;
    margin-top: -4px;
}

.shortcuts {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: fit-content;
    margin: 2rem auto 1rem;
}

.shortcuts:hover .shortcuts_act {
    filter: blur(3px);
}

.shortcuts_act:hover {
    filter: none!important;
}

.shortcuts_act {
    display: block;
    padding: 5px;
    transition: 300ms transform;
    margin-right: 20px;
    transition: 300ms ease;

    max-width: 80px;
    max-height: 80px;
    -webkit-user-drag: none;
}

[dir="rtl"]  .shortcuts_act:nth-last-child(1) {
    margin-right: 20px;
}
[dir="rtl"]  .shortcuts_act:nth-child(1) {
    margin-right: 0;
}

.shortcuts_act:hover {
    transform: scale(1.04);
}

.shortcuts_act_image__LICHESSHELPER {
    min-width: 67px;
    min-height: 67px;
    margin-top: -2px;
}

@media only screen and (max-width: 900px) {
    .title {
        font-size: 2.5rem;
    }
    .desc {
        font-size: 1.1rem;
        line-height: 180%;
    }
}


@media only screen and (max-width: 450px) {
    .title {
        font-size: 2rem;
        line-height: 150%;
        padding-top: 0.2rem;
        padding-bottom: 0.4rem;
    }

    [lang="uk"] .title {
        font-size: 1.9rem; 
    }

    [lang="fr"] .title {
        font-size: 1.7rem;
    }
    
    .desc {
        font-size: 1.16rem;
        line-height: 190%;
    }

    .desc br {
        display: none;
    }
    .shortcuts_act:nth-last-child(1) {
        margin-right: 0px;
    }

    [dir="rtl"]  .shortcuts_act:nth-last-child(1) {
        margin-right: 20px;
    }
    [dir="rtl"]  .shortcuts_act:nth-child(1) {
        margin-right: 0;
    }
    .shortcuts_act:nth-child(2) {
        display: none;
    }

    .wrapper {
        background-color: #1A1C2D;
        background: linear-gradient(180deg, #364568 0%, #1b1f33 50%, #181925 70% 100%);
    }

    .wrapper_texture {
        min-height: fit-content;
        background-size: 200% auto;
        background-position: 50% 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 90vh;
    }

    .shortcuts {
        margin: 1rem auto 0.5rem;
    }
}
