.wrapper {
    background-color: #1A1C2D;
    background: linear-gradient(180deg, #40527D, #1A1C2D);
    background: radial-gradient(ellipse at top center, #40527D 0%, #24283f 50%, #1A1C2D 70%, #1A1C2D 100%);
}

.wrapper_texture {
    background: url("/texture-1.png");
    background-position: 0% 0%;
    background-size: 100% 100%;

    min-height: 600px;
    height: 100vh;
    max-height: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    min-height: 400px;
}

.title {
    font-size: 2.8rem;
    text-align: center;
    margin: 0 0 0.5em;
}

.desc {
    font-size: 1.2rem;
    line-height: 1.6em;
    color: var(--text-color-sec, #A4A8C9);
    text-align: center;
}

.img_preview {
    display: block;
    user-select: none;
    pointer-events: none;
}

.img_preview img {
    display: block;
    height: 140px;
    margin: 0 auto;
}

.btn_sect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_1 {
    display: block;
    height: 46px;
    line-height: 45px;
    padding: 0 1.5rem;
    margin-top: 1rem;
    user-select: none;

    font-size: 1.08rem;
    font-weight: 500;
    border-radius: 40px;
    background-color: #43517F;
    background: linear-gradient(45deg, #43517F, #303A5C);
    background: linear-gradient(96deg, #43517f, #283258);
    border: 1px solid #42507D;
}