/* 404 Page Styles */
.page404_container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    /* background-color: #181925; */
    color: #f8f9fa;
  }
  
  .page404_wrapper {
    container: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.25rem;
    margin: 2rem auto;
  }
  
  .page404_content {
    max-width: 28rem;
    text-align: center;
    padding-bottom: 8vh;
  }
  
  .page404_title {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 10rem;
    line-height: 100%;
    color: rgba(162, 178, 227, 0.25);
  }
  
  .page404_srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  .page404_message {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .page404_description {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #6c757d;
  }
  
  .page404_button {
    display: inline-block;
    padding: 0.75rem 2rem;
    font-weight: 600;
    text-decoration: none;
    background-color: #4c6797;
    color: white;
    border-radius: 5rem;
    transition: background-color 0.3s ease;
  }
  
  .page404_button:hover {
    background-color: #3f5780;
  }
  
  @media (max-width: 768px) {
    .page404_title {
      font-size: 7rem;
    }
    
    .page404_message {
      font-size: 1.25rem;
    }
  }