.content_wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #f3fbff;
}

.content_wrapper p {
    color: #f3fbff;
    line-height: 180%;
}

.title_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.title_block h1 {
    font-weight: 200;
    margin: 1rem 0 0.8rem;
    font-size: 2.6rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: capitalize;
}

h1 .major_update {
    font-weight: 500;
}

.logo_box_anim {
    position: relative;
    width: 100px;
    height: 100px;
}

.logo_box_anim img {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    pointer-events: none;
}

@keyframes theyseemerolling {
    0% { transform: rotate(0deg)}
    100% { transform: rotate(360deg)}
}

.set_rotate {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    animation: theyseemerolling 4s linear both infinite;
    transform: rotate(180deg);
}

.st,
.guarantee {
    display: block;
    text-align: center;
    color: #474a54;
    padding-bottom: 1rem;
}

.st {
    color: #686c7b;
}

.h2 {
    font-size: 1.56rem;
    margin: 1.5rem 0;
}

.content_wrapper h3 {
    font-weight: 600;
    padding: 0 0 0 1em;
    color: #b9cdd6;
    margin-bottom: 0;
}

.content_wrapper ul {
    list-style: none;
    padding: 0 0 0 1.5em;
    margin: 0 0 2rem;
}

.content_wrapper li {
    font-size: 0.84rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 0;
    padding: 0;
    color: #737278;
}