body {
  --ext-item: #2f3045;
  --ext-item: #3e3f53;
}

.landing_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  justify-content: flex-start;

  width: 100vw;
  min-height: 100vh;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.landing_content__welcome {
  display: block;
  padding: 0;
}


@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.landing_content__welcome .active_tab {
  color: #000;
}

.active_tab svg {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  animation: rotate 5s linear infinite;
}

.active_tab__dark svg circle,
.active_tab__dark svg g,
.active_tab__dark svg ellipse,
.active_tab__dark svg {
  stroke: #000 !important;
}

.active_tab__dark svg circle {
  fill: #000;
}


.landing_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  padding-top: var(--vp-header, 70px);
  max-width: 650px;
  text-align: center;
  height: 60vh;
  min-height: 560px;
  max-height: 700px;

  margin: 0 auto;
}

.header_sect {
  width: 100%;
  background: linear-gradient(rgb(35 33 46), rgba(89, 79, 146, 0.3), rgba(89, 79, 146, 0.8));
}

.landing_content__sp .header_sect {
  background: linear-gradient(#23212e, rgba(79, 125, 146, 0.3), rgba(52, 157, 121, 0.87));
}

.landing_content__sp .previews_section {
  background-image: linear-gradient(180deg, #318d6e, transparent);
}

.landing_content__sp .credibility_stats {
  color: #99beb4;
}

.landing_content__sp .header {
  background-color: rgba(37, 39, 52, 0.7);
}

.header {
  font-family:  "Noto Sans", "Montserrat", "Inter", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


@media only screen and (max-width: 420px) {
  .landing_content__sp .header {
    background-color: #252734;
  }

  html .lang_set_wrapper {
    top: 5px;
    right: 6px;
    height: 50px;
}

  #bmc-wbtn {
    display: none!important;
  }
}




.landing_content__do .header_sect {
  background: linear-gradient(#1f202c, rgb(39 57 77), #2b84ae);
}

.landing_content__do .previews_section {
  background-image: linear-gradient(180deg, #317b8d, transparent);
}

.landing_content__do .credibility_stats {
  color: #97b9c7;
}

.landing_content__do .header {
  background-color: rgba(33, 37, 50, 0.7);
}

@media only screen and (max-width: 420px) {
  .landing_content__do .header {
    background-color: #212532;
  }
}

.landing_content__lc .header_sect {
  background: linear-gradient(#23212e, rgba(79, 100, 146, 0.3), rgba(52, 128, 157, 0.87));
}

.landing_content__lc .credibility_stats {
  color: #99bebd;
}

.landing_content__lc .header {
  background-color: #242434;
}




.landing_content__lc .previews_section {
  background-image: linear-gradient(180deg, #32748d, transparent)
}



.landing_content__ch .header_sect {
  background: linear-gradient(rgb(35, 33, 46), rgba(89, 79, 146, 0.3), rgba(103, 79, 146, 0.8))
}


.landing_content__ch .previews_section {
  background-image: linear-gradient(180deg, #58457c, transparent);
}



.landing_content__ec .header_sect {
  background: linear-gradient(rgb(35, 33, 46), rgba(79, 146, 79, 0.3), rgba(145, 146, 79, 0.8));
}

.landing_content__ec .header {
  background-color: rgba(37, 40, 51, 0.7);
}

.landing_content__ec .credibility_stats {
  color: #c9cbb7;
}




.landing_title {
  font-size: 3rem;
  margin: 0.2em 0;
  line-height: 120%;
  font-weight: 600;
}

.landing_subtitle {
  font-size: 1.18rem;
  line-height: 190%;
  margin: 0.4em 0 0;
}

.logo {
  order: -2;
  width: 5.4rem;
  margin: 0 0 0.45rem;
  margin-top: 8vh;
}

.logo_dohabit img {
  /* border-radius: 18px; */
  overflow: hidden;
}


.download_links {
  display: flex;
  align-items: stretch;
  max-width: 350px;
  margin-top: 1.2rem;
}

.download_links a {
  flex: 1;
  width: 46%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  padding: 6px;
  padding: 6.5px;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 0.68rem 0 0;
}

@media only screen and (max-width: 500px) {
  .download_links a {
    max-width: 80px;
  }
}

.download_links__store {
  max-width: 420px;
  margin: 1.5rem 0 1rem 0;
}

.download_links__store a {
  padding: 4px;
  /* max-height: 70px; */
  border-radius: 60px;
  background-color: hsla(212, 23%, 16%, 0.35);
  transition: 100ms ease;
}

.download_links__store a:hover {
  background-color: #2b2b2b8a;
}

html .download_links__store a.disabled:hover {
  background-color: #2b2b2b52;
}

html .download_links__store a.disabled {
  filter: none;
  /* opacity: 0.8; */
  cursor:not-allowed;
  /* pointer-events: none; */
}

html .download_links__store a:nth-child(1)>img {
  margin-top: 2px;
  height: 55;
  padding: 0;

}

.download_links a:nth-last-child(1) {
  margin: 0;
}

.download_links a:nth-child(1)>img {
  padding: 2px 3px 4px;
}

.download_links a.disabled {
  filter: saturate(0);
  cursor: default;
}

.download_links img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.download_links__store img {
  max-width: 80%;
  margin-left: -1.5%;
  margin-bottom: -0.5%;
  height: 55px;
}


.version {
  position: fixed;
  bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #343451;
  text-align: center;

  -moz-user-select: none;
  user-select: none;
}

.header_group {
  display: flex;
  align-items: center;
  text-align: left;
}

.w_header .header_group img {
  width: 40px;
  height: 40px;
  margin: 0 20px 0 0;
  border-radius: 0;
}

.header_group h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1em;
  margin: 1rem 0;
}

.w_header {
  background-color: #fff;
  color: #000;
  padding: 80px 30px 40px;
}

.w_header__content {
  max-width: 950px;
  margin: 0 auto;
}

.presentation {
  width: 100%;
  display: flex;
  padding: 40px 0 0;
  overflow: hidden;
}

.pres_slides {
  width: 49%;
  flex: 0 0 49%;
  padding-right: 40px;
}

.pres_slides img {
  width: 100%;
}

.pres_content h3 {
  font-size: 1.6rem;
  line-height: 120%;
  margin: 1em 0;
}

.pres_content p {
  display: block;
  font-size: 1rem;
  line-height: 165%;
  margin: 0 0 2em;
}

.pres_content button {
  padding: 5px 20px;
  margin-right: 20px;
  background-color: var(--main-bg-color);
  font: inherit;
  font-weight: 600;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.w_body {
  text-align: center;
  padding: 20px 0 20px;
}

/* TODO */
.w_body_light {
  /* background-color: #27273a; */
  width: 100%;
}

.ls_extensions {
  max-width: 1000px;
  padding: 1.2rem 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.ls_extensions__item>img {
  width: 100%;
  transition: transform 220ms ease;
}

.w_body h2 {
  font-size: 1.8rem;
  margin: 0.2em auto;
}

.w_body p {
  font-size: 1rem;
  margin: 1em 0 0.5em;
}

.ls_extensions__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin: 0 max(20px, 2vw) 20px 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
  border-radius: 14px;
  transition: transform 200ms ease, background 250ms ease, border-color 250ms ease;
  /* border: 1px solid #4b4b52; */
  background-color: #242432;
  box-shadow: 0 1px 2px 2px #171818;
}

[dir="rtl"] .ls_extensions__item {
  margin: 0 0 20px max(20px, 2vw);
}

.ls_extensions__item:hover {
  transform: scale(1.01);
  background-color: var(--tone-05);
  border-color: rgb(45, 46, 49);
}

.ls_extensions__item p {
  opacity: 0;
}

.ls_extensions__item:hover p {
  opacity: 1;
}

.ls_extensions__item img,
.ls_extensions__item picture {
  display: block;
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: 0% 0%;
}

.ls_extensions__title {
  display: block;
  font-weight: 600;
  font-size: 1.08rem;
  padding: 0.5rem 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ls_extensions__hovergroup:focus {
  outline: none !important;
}

.ls_extensions__hovergroup {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(100% - 2.8rem);
  left: 0;
  margin: 0;
  padding: 0 10px;
  background-color: var(--ext-item, #2f3045);
  transition: 300ms ease;
  z-index: 10;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #fff;
  cursor: pointer;
}

.ls_extensions__hovergroup>* {
  cursor: pointer;
}

.ls_extensions__hovergroup:hover {
  overflow: scroll;
}

.ls_extensions__hovergroup~img {
  margin-bottom: 2.8rem;
}

.ls_extensions__hovergroup h3 {
  transition: 200ms ease;
  font-family: var(--font-body);
}

.ls_extensions__hovergroup:hover h3 {
  font-size: 1.2rem;

}

.ls_extensions__hovergroup p {
  color: #eee;
}

.ls_extensions__item:hover .ls_extensions__hovergroup {
  top: 0;
  background-color: rgba(25, 25, 27, 0.77);
}

.ls_extensions__item:hover img {
  z-index: -1;
}

.ls_extensions__item:nth-child(3n) {
  margin-right: 0;
}

[dir="rtl"] .ls_extensions__item:nth-child(3n) {
margin-left: 0;
}

.ls_extensions__item h3 {
  font-size: 1rem;
  margin: 0.7rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ls_extensions__item p {
  line-height: 170%;
  margin: 0;
}

.mini_ic,
.w_extinfo img,
.w_extinfo svg {
  display: inline-block;
  height: 1.5em;
  width: auto;
  max-width: 1.5em;
  padding: 0 0.5em;
  margin-bottom: -0.4em;
  box-sizing: content-box;
}

.mini_ic {
  padding: 0 0.2em;
}

.w_extinfo {
  position: fixed;
  right: 30px;
  top: 20px;
  max-width: 400px;
  padding: 17px;
  background-color: rgba(56, 59, 64, 0.9);
  border-radius: 10px;
  user-select: none;
  font-size: 1rem;
  line-height: 150%;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.w_extinfo svg:nth-last-child(1) {
  padding: 0;
  width: 1.2em;
}

.open_btn {
  display: inline-block;
  padding: 5px 25px;
  margin: 15px 0 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #343451;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 20px;
}

.un_content {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
}

.un_content h1 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.un_content p {
  font-size: 20px;
  color: #e3e8ea;
}

.un_content textarea,
.un_content input {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  margin: 10px 0;
  color: #fff;
}

.un_content textarea,
.un_content input,
.btn_submit {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font: inherit;
  font-size: 21px;
  line-height: 140%;
  min-height: 50px;
}

.un_content textarea {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  resize: none;
}

.un_content textarea:focus,
.un_content input:focus {
  outline: 1px solid #a5a5de !important;
  border-color: #a5a5de;
}

.btn_submit {
  padding: 10px 30px;
  margin: 20px 0 20px;
}

.un_content label {
  display: block;
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .landing_title {
    font-size: 2.8rem;
    margin: 0.2em 0;
    line-height: 120%;
    font-weight: 600;
  }

  .landing_subtitle {
    font-size: 1.2rem;
    line-height: 180%;
    margin: 0;
  }

  .ls_extensions {
    justify-content: center;
  }

  .ls_extensions__item {
    flex: 0 0 300px;
  }

  .ls_extensions__item:nth-last-child(2) {
    margin-right: 0;
  }

  .ls_extensions__item:nth-last-child(1) {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .ls_extensions {
    display: block;
  }

  .ls_extensions__item {
    display: flex;
    margin: 0 auto 1.2rem !important;
    width: 90%;
    width: 90vw;
    max-width: min(400px, 90vw);
    min-height: 55vw;
  }

  .ls_extensions__item picture {
    flex: 1
  }

  .ls_extensions__item img {
    height: 100%;
  }

  .ls_extensions__item:nth-last-child(1) {
    display: flex;
  }
}

@media only screen and (max-width: 620px) {
  /* .header_content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  .landing_wrapper {
    padding-top: 0;
  }

  .logo {
    margin-top: 20px;
  }

  .credibility_stats {
    justify-content: space-around;
    margin-left: -15px;
    margin-right: -5px;
    width: calc(100% - 10px);
  }
}

@media only screen and (max-width: 420px) {
  .landing_wrapper {
    padding: 75px 0;
  }

  #bmc-wbtn img {
    filter: saturate(2) hue-rotate(0deg) brightness(9) opacity(0.8)!important;
  }

  .landing_title {
    font-size: 2rem;
    margin: 0.2em 0;
    line-height: 120%;
    font-weight: 600;
  }

  .landing_subtitle {
    font-size: 1rem;
    line-height: 180%;
    margin: 0;
  }

  .download_links {
    max-width: 90%;
  }

  .logo {
    width: 78px;
    margin-top: 10px;
  }
  .ls_extensions__item {
    background-color: #1e1e2c;
  }
  

  .logo_box_anim__igp {
    width: 82px;
    height: 82px;
  }

  #set_rotate__ig {
    width: 58px;
    height: 58px;
    margin: 12px;
  }

  .download_links {
    margin-top: 1rem;
    margin-bottom: 0.2em;
  }

 

  /* //Only show on 3x density devices */
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  :root {
    --vp-header: 62px;
  }
  .header {
    background-color: transparent;
    overflow: hidden;
    -webkit-backdrop-filter: blur(20px);
  }
}

  /* .blurhotfix_ios {
    width: 100%;
    height: var(--vp-header);
    background-color: rgba(24, 25, 37, 0.4);
    position: absolute;
    z-index: -1;
    filter: blur(10px)!important;
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(60px);
  } */

  .landing_content__igp .header_sect {
    background: linear-gradient(rgb(37 35 49), rgba(89, 79, 146, 0.3), rgb(76, 69, 127));
  }

  .landing_content__ch .header_sect {
    background: linear-gradient(#252331, rgba(89, 79, 146, 0.3), #58447b);
  }

  .landing_content__lc .header_sect {
    background: linear-gradient(#252331, rgba(79, 100, 146, 0.3), rgba(52, 128, 157, 0.87))
  }

  .credibility_stats {
    font-size: 4.3vmin;
    font-size: max(4.3vmin, 5px);
  }

  .download_links__store {
    margin: 6vh 0 3vh;
    max-width: calc(100vw - 40px);
    /* flex-direction: column-reverse; */
  }

  .download_links__store a {
    flex: 1;
    margin: 0;
    width: 100vw;
    max-width: 400px;
    min-height: 68px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
  }

  .download_links__store a:nth-child(1) {
    margin-right: 10px;
  }

 html .download_links__store img {
    max-width: 118%;
    width: 118%;
    min-height: 50px;
    padding: 0;
    margin: 0;
    margin-left: 3px;
  }

  #bmc-wbtn {
    height: 50px!important;
    width: 50px!important;

    top: 5px!important;
    right: 5px!important;
    z-index: 100001;
    
  }
  
  html #bmc-wbtn {
    border-radius: 0!important;
    background-color: transparent!important;
    box-shadow: none!important;
  }

  html #bmc-wbtn img {
    height: 30px!important;
    /* filter: saturate(15) hue-rotate(-64deg) brightness(2.4) opacity(0.8); */
  }

  html body .header_content {
    padding: 0!important;
  }


}



/* Donate part */

.donate_section {
  position: relative;
  width: 100vw;
  min-height: 400px;
  /* max-height: 1500px; */
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.donate_section__content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.donate_section__buttons {
  display: flex;
  gap: 22px;
}

.donate_section__buttons a,
.donate_section__buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #fff2;
  background-color: #ffffff18;
  color: #fff;
  min-width: 260px;
  backdrop-filter: blur(10px);
  transition: background-color .1s ease-out;
}

#donate_crypto span:nth-last-child(1) {
  width: min-content;
  min-width: 120px;
  line-height: 120%;
}

.donate_section__buttons a,
.donate_section__buttons button,
.donate_section__buttons a *,
.donate_section__buttons button * {
  cursor: pointer;
}

.donate_section__buttons a:hover,
.donate_section__buttons button:hover {
  background-color: #fff3;
}

:root {
  --font-body: "Noto Sans", "Montserrat", "Inter", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.donate_section h2 {
  /* font-family: var(--font-body); */
  font-size: 2rem;
  margin: 0;
}

.donate_section__popup h3, 
.donate_section__popup h2 {
  font-family: var(--font-body);
}

.donate_section p {
  font-family: var(--font-body);
  color: #fff;
  margin: 2em 0;
  line-height: 180%;
}

.donate_section__background {
  position: absolute;
  top: -2em;
  left: -2em;
  width: 100%;
  height: 100%;
  height: calc(100% + 4em);
  width: calc(100% + 4em);

  position: absolute;
  user-select: none;
  pointer-events: none;
  touch-action: none;
}


.donate_section__background {
  background: linear-gradient(360deg, transparent,  #2d42588d, #2d42588d, transparent);
  background: radial-gradient(black, transparent);
}



.donate_section__background img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  filter: blur(.7em) brightness(.7);
  /* display: none; */
}

.donate_section__background img {
  display: none;
}
/* 
.donate_section__background__nobg {
  background: none;
} */

.donate_section__buttons img {
  height: 30px;
  margin-right: 10px;
  pointer-events: none;
  user-select: none;
}

.donate_section__content h2 {
  font-weight: 600;
  margin-bottom: -2px;
  /* display: flex; */
  align-items: center;
  white-space: nowrap;
  text-align: center;
}

.donate_section__popup {
  position: fixed;
  top: 10vh;
  max-height: 90vh;
  max-width: 100vw;
  margin: 0 auto;
  z-index: 100000;
  padding: 22px;
  padding-top: 20px;
  border-radius: 5px;
  
  background-color: rgba(0, 0, 0, 0.67);
  color: #e4e8ec;
  /* backdrop-filter: blur(10px); */

  background-color: rgba(0, 0, 0, 1);
  color: #e4e8ec;
  backdrop-filter: blur(10px);
  /* border: 3px solid rgb(114 114 114 / 67%); */

  box-shadow: 1px 10px 16px 0 rgba(0, 0, 0, 0.684);
  opacity: 0;
  pointer-events: none;
  transition: transform 350ms ease, opacity 350ms linear 0ms;
  transform: translateY(-50px);
  overflow-y: scroll;
}

[data-i18n="donate_popup_text1"],
[data-i18n="donate_popup_text2"] {
  display: none!important;
}

.donate_section__popup.opened {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
  /* transition: 200ms linear, opacity 0ms linear; */
}

.donate_section__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.donate_section__close:hover {
  background-color: #fff2;
}

.donate_section__close svg {
  pointer-events: none;
  user-select: none;
}

.donate_section__close svg path {
  fill:#6b6b6b;
}



.donate_section__popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.donate_section__popup code {
  background-color: #ffffff2f;
  color: #ffffff;
  border-radius: 5px;
  padding: 2px 6px;
  font-size: 0.9rem;
}

 /* Styling the selected text */
 .donate_section__popup code::selection {
  background-color: #007BFF; /* Custom background color for selected text */
  color: #fff; /* Text color when selected */
}

/* For non-webkit browsers */
.donate_section__popup code {
  -moz-user-select: text; /* Firefox */
  -webkit-user-select: text; /* Safari and Chrome */
  user-select: text; /* Standard */
}

.donate_section__popup p {
  margin: 5px 0;
  line-height: 140%;
}

.donate_section__popup h2 {
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.donate_section__popup li {
  margin-bottom: 20px;
}

.donate_section__popup h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5em;
}

.donate_section__sub p {
  color: #c7ced4;
}

.donate_section__sub p:nth-child(1) {
  margin-right: 40px;
}

.donate_section__sub {
  margin-bottom: 20px;
}

.donate_section__popup li {
  display: flex;
  flex-direction: column;
}

.donate_section__popup li img {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

.donate_section__popup li>span:nth-child(1) {
  display: flex;
  align-items: center;
}

.sm_smile {
  display: inline-block;
  width: 1.16em;
  height: 1.16em;
  flex-basis: 1.16em;
  flex-shrink: 0;
  transform: translateY(0.18em);
  margin-left: 0.2em;
  background: url("/assets/img/donate/smile.png");
  object-fit: contain;
  background-size: 100% 100%;
}

@media only screen and (max-width: 500px) {
  .donate_section__popup {
    top: 20px;
    max-width: 100vw;
    max-height: 100vh;
    padding: 10px;
    overflow: scroll;
  }

  .donate_section__popup code {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 380px) {
  .donate_section__popup {
    top: 0px;
    max-height: 100vh;
  }
}

@media only screen and (max-width: 760px) {
  .donate_section__content {
    width: 500px;
    max-width: 95%;
  }

  .donate_section__buttons {
    display: block;
    min-width: 90%;
  }

  .donate_section__buttons a,
  .donate_section__buttons button {
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    margin-bottom: 0.9em;
  }
  .donate_section__content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .donate_section__content h2 {
    white-space:normal;
  }
}

@media only screen and (max-width: 440px) {
 
  .donate_section__content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .donate_section__content p {
    text-align: center;
  }

  .donate_section__buttons * {
    font-size: 16px;
  }

  .donate_section__popup {
    width: 95vw;
    max-height: 95vh;
    left: 2.5vw;
    top: 2.5vh;
    z-index: 100000;
    background-color:#000;
  }

  .donate_section__popup ul {
    font-size: 0.9rem;
  }

  .donate_section__popup code {
    font-size: 0.7rem;
  }
  .donate_section__popup li {
    margin-bottom: 5px;
  }
  .donate_section__popup p  {
    font-size: 0.9rem;
  }
  .donate_section__popup p:nth-child(1) {
    margin-right: 30px;
  }

  .credibility_stats svg {
    display: inline;
    position: absolute;
    height: 1.7rem;
    height: 150%;
    top: -25%;
    width: 140%;
    left: -20%;
    opacity: 1;
    margin: 0;
    color: var(--main-bg-color-sec, rgb(0, 0, 0));
    fill: var(--main-bg-color-sec, rgb(0, 0, 0));
    z-index: 0;
    transform: translateY(-1px);
  }

  .landing_content__ec .credibility_stats svg {
    color: rgba(0, 0, 0, 0.1);
  }

  .download_links {
    min-width: 310px;
    justify-content: space-around;
  }

  .credibility_stats {
    max-width: 340px;
  }

  .credibility_stats li {
    position: relative;
    min-height: 43px;
    padding-top: 3px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 33%;
    text-align: right;
    /* border: 2px solid rgba(128, 128, 128, 0.1); */
    /* border-radius: 5px; */
    box-sizing: content-box;
  }



  .credibility_stats {
    margin: 0.5em auto 0;
    align-items: stretch;
  }

  .previews_section {
    padding-bottom: 10px;
  }

  .donate_section__content p {
    margin: 1em 0 2em;
    font-size: 0.9rem;
  }

  .donate_section__content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .footer {
    padding-bottom: 2rem;
  }

  .footer .nav a {
    min-height: 55px;
  } 

  .nav {
    padding-bottom: 0;
  }

  .w_body {
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .preview_slider__wrapper {
    padding-bottom: 19px;
  }

  .w_body p {
    margin: 0;
  }

  .donate_section__content {
    padding: 15px 0;
  }

  .donate_section__content h2 {
    font-size: 1.8rem;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  .donate_section__content p {
    color: #a7a9b1;
    margin: 1em 5px 1.5em;
  }

  .ls_extensions__item {
    border-radius: 8px;
    box-shadow: 0px 2px 10px 2px #161620;
  }

  .credibility_stats li > span {
    margin-left: 0.5em;
    line-height: 120%;
    padding-right: 4px;
    padding-left: 0;
    padding-bottom: 4px;
    z-index: 1000;
  }

  .credibility_stats li > span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .credibility_stats li > span > span {
    font-weight: 600;
  }

}

@media only screen and (max-width: 380px) {
  .donate_section__content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .donate_section__buttons {
    min-width: 100%;
  }

}


/* BETA */

/* SPOPLUS */
.landing_content__sp .previews_section,
.landing_content__sp .header_sect {
  background: none!important;
}

.landing_content__sp .credibility_stats {
  color: #7d809d!important;
}

.landing_content__sp .header {
  background-color: rgba(24, 25, 37, 0.8)!important;
}


/* IGPLUS */
html[btype="igplus"] .previews_section,
html[btype="igplus"] .header_sect {
  background: none!important;
}

html[btype="igplus"] .landing_content .header {
  background-color: rgba(24, 25, 37, 0.8);
}

html[btype="igplus"] #tns1 > .tns-item {
  opacity: 0.9;
}


.download_links a {
  transition: transform 200ms ease;
}
.download_links a:hover {
  /* transform: scale(1.08); */
}

.download_links a,
.download_links a * {
  cursor: pointer;
}

.download_links a * {
  pointer-events: none;
  user-select: none;
}

.lang_set_wrapper {
  position: fixed!important;
  right: 20px;
  top: 10px;
  max-width: 150px;
  max-height: 40px;
  margin-top: 5px;
  position: relative;
  margin-left: 10px;
  background: var(--main-bg-color);
  border-radius: 12px;
  border: 1px solid #282836;
  overflow: hidden;
  z-index: 100000; 
  cursor: pointer;
}

.lang_set_wrapper,
.lang_set_wrapper * {
  cursor: pointer;
}

.lang_set_wrapper:hover {
  border: 1px solid var(--ext-item);
}

html .lang_set_wrapper {
  z-index: 100000; 
}
.donate_section__popup::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.lang_set {
  height: 40px;
  max-height: 40px;
  
  padding-right: 5px;
  border: none;
  background: var(--main-bg-color);
  color: #fff;
  font-size: 1em;
  font-weight: inherit;
  padding-left: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.lang_set:focus {
  outline: none;
}

.lang_set_wrapper .lang_ic {
  position: absolute;
  right: 0px;
  top: 7px;
  width: 30px;
  height: 24px;
  --lang-ic: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'%3E%3Cg fill='%23939199'%3E%3Cpath d='M7.75 2.75a.75.75 0 0 0-1.5 0v1.258a32.987 32.987 0 0 0-3.599.278a.75.75 0 1 0 .198 1.487A31.545 31.545 0 0 1 8.7 5.545A19.381 19.381 0 0 1 7 9.56a19.418 19.418 0 0 1-1.002-2.05a.75.75 0 0 0-1.384.577a20.935 20.935 0 0 0 1.492 2.91a19.613 19.613 0 0 1-3.828 4.154a.75.75 0 1 0 .945 1.164A21.116 21.116 0 0 0 7 12.331c.095.132.192.262.29.391a.75.75 0 0 0 1.194-.91a18.97 18.97 0 0 1-.59-.815a20.888 20.888 0 0 0 2.333-5.332c.31.031.618.068.924.108a.75.75 0 0 0 .198-1.487a32.832 32.832 0 0 0-3.599-.278z'/%3E%3Cpath fill-rule='evenodd' d='M13 8a.75.75 0 0 1 .671.415l4.25 8.5a.75.75 0 1 1-1.342.67L15.787 16h-5.573l-.793 1.585a.75.75 0 1 1-1.342-.67l4.25-8.5A.75.75 0 0 1 13 8m2.037 6.5L13 10.427L10.964 14.5z' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
  background-image: var(--lang-ic);
  background-size: auto 100%;
  
  background-repeat: no-repeat;
  background-color: var(--background-contrast) !important;
  font-size: 0rem !important;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  user-select: none;
  pointer-events: none;
  background-color: var(--main-bg-color)!important;
  box-shadow: -2px 0 5px 5px var(--main-bg-color)!important;
  background-position: 0 0!important;
  border-radius: 3px;
}

/* LANDING REDESIGN */

