@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.update__page h1 {
  font-weight: 200;
  margin: 1rem 0 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

[pg="sp"] .donate_nav a,
.donate_nav a {
  width: auto;
  flex: auto;
  background-color: #33366f;
  background: linear-gradient(11deg, #33366f, #4799d3);
  background-size: 300% 300%;
  margin: 0 12px 0 0;
  border-radius: 14px;
}

h1 [data-i18n="major_update"] {
  font-weight: 500;
}

.content_wrapper {
  max-width: 718px;
}

.updates_log h3 {
  font-weight: 600;
  color: #b9cdd6;
  margin-bottom: 0;
}

.updates_log a {
  display: inline;
}

.updates_log h3 [data-i18n="upd_stable_release"] {
  color: #808e97;
}

.donate_nav a:focus,
.donate_nav a:hover {
  transform: none !important;
  outline: none !important;
}

[pg="igp"] .logo_box_anim .logo {
  transform: scale(1.1);
}

[pg="igp"] .logo_box_anim {
  border-radius: 50px;
  overflow: hidden;
}

@media only screen and (max-width: 420px) {

  .logo_box_anim__igp {
    margin-top: 0!important;
  }

  #set_rotate__ig {
    right: 0.5px;
    top: 1px;
  }

  [pg="sp"] .logo[style="margin-top: 5vh;"] {
    margin-top: 2vw !important;
  }

  [pg="igp"] .logo[style="margin-top: 5vh;"] {
    margin-top: 2vw !important;
  }

  .donate_nav a {
    font-size: 0.92rem;
    margin: 0 0 0.6rem !important;
  }

  .content_wrapper {
    padding: var(--vp-header, 4vw) 16px 20px;
  }

  .donate_nav {
    padding: 10px 0 5px;
  }

  [pg="igp"] .donate_nav a:nth-last-child(1) {
    display: none;
  }

  /* //Only show on 3x density devices */
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .lang_set_wrapper {
      --lg_bg: #1c1d2a !important;
      --lg_border: transparent !important;
    }
  }
}