
.kofipost {
    --basic-link-color: #2dd4bf;
    display: block;
    width: 100%;
    max-width: 530px;
    margin-left: 0.8rem;
    font-weight: 500;
    color: var(--text-color-contrast, #fff);
    background-color: transparent;
    margin-bottom: 2rem;
  }
  
  @media only screen and (max-width: 600px) {
    .kofipost {
      margin-left: 0;
    }
  }
  
  .kofipost * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .kofipost_author__pfp {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    /* border: 2px solid #467ceb !important; */
    overflow: hidden;
    box-sizing: border-box;
    background: var(--basic-link-color);
    background: linear-gradient(180deg, var(--basic-link-color), #5f79be);
  }
  
  .kofipost_author__pfp img {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .kofipost:hover {
    background-color: transparent;
  }
  
  .kofipost_author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .kofipost_author > * {
    margin-right: 0.5em;
  }
  
  .kofipost__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding-bottom: 0.5rem;
  }
  
  .kofipost__preview {
    width: 100%;
    max-height: 368px;
    display: flex;
    width: 100%;
    align-items: center;
    min-width: 100%;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .kofipost__preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .kofipost__content {
    border-radius: 16px;
    padding: 5px;
    overflow: hidden;
    background-color: #232537;
    background: linear-gradient(0deg, #1f2131, #2c3a44);
    padding-bottom: 0.8rem;
    border: 1px solid #3d405f;
  }
  
  .kofipost ul {
    max-width: 98%;
    padding: 0 0 0 1rem;
    margin: 0.5em 0 0.1rem;
  }
  .kofipost li {
    line-height: 140%;
    margin-bottom: 0.4em;
  }
  
  .kofipost li a {
    color: var(--basic-link-color)!important;
    
  }
  
  .kofipost__content * {
    color: #dce7eb!important;
  }
  
  .kofipost__readmore {
    padding: 7px 12px;
    margin: 0.32rem 0 0 0.8rem;
    color: #dce7eb;
    font-size: 14.5px;
    font-weight: 600;
    background-color: #3b5566;
    border-radius: 10px;
    border: none;
    transition: background-color 300ms ease;
  }
  
  .kofipost__readmore:hover {
    background-color: #486476;
  }
  
  
  .kofipost__readmore:focus {
    outline: none;
  }
  
  
  
  
  
  .kofipost__more {
    width: 40px;
    height: 30px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M16 12a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 55% auto;
    background-position: 50% 50%;
    font-size: 0;
    border: none;
    border-radius: 30px;
  }
  
  .kofipost_author__fullname {
    padding: 0 0 0 2px;
    font-weight: 600;
    color: #fff;
  }
  
  .kofipost_author__fullname:hover {
    background-color:transparent;
  }
  
  .kofipost_author__fullname:focus {
    outline: none!important;
  }
  
  .kofipost_author__notpostadd {
    font-weight: 600;
    color: #b9cdd6;
  }
  .kofipost_author__notdate {
    font-weight: 500;
    color: #6f7e85;
    font-size: 0.8em;
  }
  
  h3.kofipost__title {
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  .kofipost__title:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .kofipost__header > *,
  .kofipost__readmore {
    cursor: pointer;
  }
  